@use "../../abstracts/index" as *;

.production-tolerance {
  // max-height: 250px;

  background: $white;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 0.5rem;
  height: 100%;
  background: $grey-100;
  //   box-shadow: $shadow-1;
  grid-column-start: 1;
  grid-column-end: 3;

  .production-tolerance__chart {
    margin-bottom: 2rem;
    background: $white;

    .half-width:nth-child(odd) {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .half-width:nth-child(even) {
      grid-column-start: 4;
      grid-column-end: 7;
    }

    .full-width {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }
}
