@use "../../abstracts/index" as *;
@use "../../base/index" as b;

.stats-form {
  font-family: b.$Roboto;
  background: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-1;
  grid-column: 3/7;
}

.stats-form__header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $divider;
  justify-content: space-between;

  .stats-form__header__title {
    display: flex;
    align-items: center;
  }

  svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0.25rem;
    // margin-right: 0.5rem;
    margin-inline-end: 0.5rem;
  }
}

.primary {
  border-top: 5px solid $primary-500;

  svg {
    background: $primary-200;
    color: $primary-900;
  }
}

.secondary {
  border-top: 5px solid $secondary-500;

  svg {
    background: $secondary-200;
    color: $secondary-900;
  }
}

.orange {
  border-top: 5px solid $orange-500;

  svg {
    background: $orange-200;
    color: $orange-900;
  }
}

.red {
  border-top: 5px solid $red-500;

  svg {
    background: $red-200;
    color: $red-900;
  }
}

.stats-form__content {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 10rem;
  overflow-y: auto;
}

.stats-form__label {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    background: #ffe0b2;
    transition: $transition;
  }
}

.stats-form__table {
  padding: 0.5rem 1rem;
  width: 100%;

  th {
    text-align: left;
    border-bottom: 1px solid $primary-50;
  }

  tr {
    // border: 1px solid $primary-50;
    &:hover {
      background: $grey-100;
    }
  }
}
