@use "../../abstracts/index" as *;
@use "../../base/index" as b;

.stats-form {
  background: $white;
  border-radius: $border-radius;
  border: 1px solid $gray-300;
  display: flex;
  flex-direction: column;
  // box-shadow: $shadow-1;
  // grid-column: 3/7;
}

.dashboard-card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: 576px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    // .dashboard-card__title,
    // .dashboard-card__condition {
    //   padding: 1rem 1rem;
    // }
  }

  .dashboard-card__title {
    margin-top: 1rem;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
      margin-inline-end: 0.5rem;
      // font-size: 1.5rem;
      // color: $primary-500;
      color: $green-500;
      // background: $primary-50;
      background: $green-50;
      border-radius: $border-radius;
      padding: 0.25rem;
    }

    h6 {
      // color: #3f4254;
      color: $gray-800;
      font-size: 1.15rem;
      margin-inline-end: 0.5rem;
    }
  }
  .dashboard-card__condition {
    margin-top: 1rem;
    padding: 0rem 1rem;
  }
}

.stats-form__content {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-height: 10rem;
  // overflow-y: auto;
}

.primary {
  border-top: 5px solid $primary-500;

  svg {
    background: $primary-200;
    color: $primary-900;
  }
}

.secondary {
  border-top: 5px solid $secondary-500;

  svg {
    background: $secondary-200;
    color: $secondary-900;
  }
}

.orange {
  border-top: 5px solid $orange-500;

  svg {
    background: $orange-200;
    color: $orange-900;
  }
}

.red {
  border-top: 5px solid $red-500;

  svg {
    background: $red-200;
    color: $red-900;
  }
}

.stats-form__label {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    background: #ffe0b2;
    transition: $transition;
  }
}
