@use "../abstracts/index" as *;

.dashboard-form-page {
  border-radius: $border-radius;
  width: 100%;
  background: $grey-50;
  border: 1px solid $grey-200;
  padding: 0.5rem 2rem 0.5rem;
  // box-shadow: $shadow-1;

  p,
  h5 {
    color: $text-color;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0;
    margin-top: 0.25rem;
    font-size: $small-text;
  }

  input {
    padding: 0.375rem 0.75rem;
    border-radius: $border-radius;
    // background: $background-color;
    background: $white;
    border: 1px solid $grey-200;
    outline: none;
  }

  button {
    height: 35px;
  }

  .navbar-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.backdrop {
  // opacity: 0.1;
  background: rgba(0, 0, 0, 0.26);
}
