@use "../../abstracts/index" as *;

.badge-1 {
  width: fit-content;
  font-size: 0.75rem;
  text-align: center;
  border-radius: 5px;
  padding: 0rem 0.25rem;
}

.badge-success {
  background: $green-100;
  color: $green-600;
}

.badge-fail {
  background: $red-100;
  color: $red-600;
}
