@use "../../abstracts/index" as *;

.badge-1 {
  background: $green-500;
  font-size: 0.75rem;
  color: $white;
  width: 70px;
  text-align: center;
  //   border: 1px solid #84cc16;
  //   border-radius: 10px;
  //   text-transform: uppercase;
  padding: 0.125rem;
}
