@use "../../abstracts/index" as *;

.barchart-tooltip {
  background: $white;
  border-radius: $border-radius;
  opacity: 0.95;
  width: 150px;

  .label {
    background: $green-300;
    color: $green-900;
    text-align: center;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .details {
    padding: 0.5rem;
  }
}

.recharts-cartesian-axis-tick {
  font-size: 0.875rem;
  // font-family: Roboto, sans-serif;
}
