@use "../../abstracts/index" as *;
@use "../../base/fonts" as f;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  // background-color: rgba(0, 0, 0, 0.75);
  background-color: rgba(33, 51, 29, 0.5);
}

.type-red {
  background-color: rgba(61, 27, 27, 0.5);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 5%;
  width: 90%;
  background-color: white;
  border-radius: $border-radius;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 3;
  animation: slide-down 500ms ease-out forwards;
  border-top: 5px solid $green-500;
  max-height: calc(90vh);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@media (min-width: 992px) {
  .modal {
    width: 60rem;
    left: calc(50% - 30rem);
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 70rem;
    left: calc(50% - 35rem);
  }

  .modal-one-column {
    width: 30rem;
    left: calc(50% - 15rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: $text-color;

  h5 {
    margin-bottom: 0;
  }

  svg {
    cursor: pointer;
    font-size: 1.25rem;
  }
}

.toast-container {
  font-family: f.$Cabin;
  position: fixed;
  background: $white;

  min-width: 15rem;
  text-align: center;
  border-radius: $border-radius;
  padding: 1rem;
  top: 5%;
  left: calc(100% - 17rem);
  margin-inline-end: 20px;
  animation: fadein ease-out forwards 0.5s, fadeout ease-out forwards 0.5s 4s;
  z-index: 4;
}

.alert-success {
  background: $green-100;
  color: $green-800;
  border-top: 5px solid $green-500;
}

.alert-danger {
  background: $red-100;
  color: $red-800;
  border-top: 5px solid $red-500;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(2rem);
  }
}

.modal-message {
  background: $white;
  z-index: 3;
  position: fixed;
  top: 40vh;
  left: 5%;
  width: 90%;
  height: 20%;
  background-color: white;
  border-radius: $border-radius;
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 500ms ease-out forwards;
  border-top: 5px solid $red-500;
  max-height: calc(90vh);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .modal-message {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

// @media (min-width: 992px) {
//   .modal-message {
//     width: 60rem;
//     left: calc(50% - 30rem);
//   }
// }

// @media (min-width: 1200px) {
//   .modal-message {
//     width: 70rem;
//     left: calc(50% - 35rem);
//   }
// }
