@use "../../abstracts/index" as *;

.form-table {
  width: 100%;
  text-align: left;
  // border-spacing: 0;
  border-collapse: collapse;
  // border: 1px solid $grey-200; /////
  // border-radius: $border-radius;

  thead {
    .table-header {
      th {
        padding: 0.5rem;
        color: $gray-500;
      }
      border-bottom: 1px dashed $gray-200;
      //   text-align: left;
      // th:last-child {
      //   text-align: right;
      // }
    }
  }

  // tbody {
  //   tr:nth-child(even) {
  //     // background: $grey-50;
  //     background: $gray-50;
  //     // padding: 5px;
  //     // border: 1px solid $primary-50;
  //     &:hover {
  //       background: $grey-100; ///
  //     }
  //   }
  // }

  td {
    padding: 0.5rem;
    border-bottom: 1px dashed $gray-200;
    svg {
      font-size: 1.125rem;
      cursor: pointer;
    }

    h6 {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}

.table-row {
  &:hover {
    background: $gray-50; //
  }

  // .active {
  //   background: $grey-200;
  // }
}

.table-row__text {
  font-size: 1rem;
  line-height: 1.25rem;
}

.table-row__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-row__actions__btn-edit {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: $border-radius;
  background: $white;
  color: $primary-500;
  cursor: pointer;
  border: transparent;
  transition: $transition;

  &:hover {
    background: $primary-50;
  }
}

.table-row__actions__btn-delete {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: $border-radius;
  background: $white;
  color: $red-500;
  cursor: pointer;
  border: transparent;
  transition: $transition;

  &:hover {
    background: $red-50;
  }
}

.table-title {
  font-size: 0.875rem;
}

.table-subTitle {
  font-size: 0.875rem;
  font-style: italic;
  color: $gray-400;
}

.ingredients {
  background: $white;
  width: 100%;
  padding: 0;
  margin: 0;
  // height: 100px;
  max-height: 300px;
  overflow-y: auto;
}

.list-header {
  position: sticky;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 2fr;
  background: $gray-600;
  color: $white;
  margin: 0.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: $border-radius $border-radius 0 0;
}

.ingredients-list {
  padding: 0.125rem 0.5rem;
  background: $gray-100;
  margin: 0.125rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 2fr;
  align-items: center;
  line-height: 1.15rem;
}

.materials-list {
  grid-template-columns: 0.5fr 1fr 3fr;
  padding: 0.25rem 0.5rem;
}

.list-input {
  outline: none;
  padding: 0.25rem;
  border: 1px solid $gray-300;
}

.list-active {
  background: $gray-300;
}
