@use "../abstracts/index" as *;

.landing-page {
  nav {
    width: $fluid-width;
    max-width: $max-width;
    margin: 0 auto;
    // height: $nav-height;
    height: 6rem;
    display: flex;
    align-items: center;
    // background-color: red;
    justify-content: space-between;
  }
  .page {
    // min-height: calc(100vh - $nav-height);
    min-height: calc(100vh - 6rem);
    display: grid;
    align-items: center;
    // margin-top: -3rem;
    // background-color: aqua;
  }
  h1 {
    font-weight: 700;
    span {
      color: $blue-500;
    }
  }
  p {
    color: $grey-600;
  }
  .main-img {
    display: none;
  }
  @media (min-width: 992px) {
    .page {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
    .main-img {
      display: block;
    }
  }
}
