@use "../abstracts/index" as *;
@use "./fonts" as f;

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  // margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  // text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: $small-text;
}

a {
  text-decoration: none;
  line-height: 1.15;
}

h1 {
  font-family: f.$Ubuntu;
  font-family: f.$Cabin;
  font-family: f.$FiraSans;
  font-family: f.$Roboto;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
// h2
h2 {
  font-family: f.$FiraSans;
  font-family: f.$Roboto;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}
// h1 {
//   font-family: f.$FiraSans;
//   font-weight: 400;
//   font-size: 3rem;
//   line-height: 1.167;
//   letter-spacing: 0em;
// }
// h1 {
//   font-family: f.$FiraSans;
//   font-weight: 400;
//   font-size: 2.125rem;
//   line-height: 1.235;
//   letter-spacing: 0.00735em;
// }
// h5
h5 {
  // font-family: f.$FiraSans;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: $primary-900;
}
// h6
h6 {
  // font-family: f.$FiraSans;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
// // subtitle1
// h1 {
//   // font-family: f.$Cabin;
//   font-family: f.$FiraSans;
//   font-weight: 400;
//   font-size: 1rem;
//   line-height: 1.75;
//   letter-spacing: 0.00938em;
// }
// subtitle2
.subTitle2 {
  font-family: f.$Cabin;
  // font-family: f.$FiraSans;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  color: $grey-500;
}
// }
// // body 1
// h1 {
//   // font-family: f.$Cabin;
//   font-family: f.$FiraSans;
//   font-weight: 400;
//   font-size: 1rem;
//   line-height: 1.5;
//   letter-spacing: 0.00938em;
// }
// // body 2
// h1 {
//   // font-family: f.$Cabin;
//   font-family: f.$Roboto;
//   font-weight: 400;
//   font-size: 0.875rem;
//   line-height: 1.43;
//   letter-spacing: 0.01071em;
// }

.muted {
  color: $grey-400;
}
